{% extends 'base.html' %} {% block content %}

<h1>Toy Details</h1>

<div class="card">
  <a href="{% url 'toys_detail' toy.id %}">
    <div class="card-content">
      <span class="card-title"
        >A
        <span class="{{ toy.color.lower }}-text">{{ toy.color }}</span>
        {{toy.name}}</span
      >
    </div>
    <div class="card-action">
      <a href="{% url 'toys_update' toy.id %}">Edit</a>
      <a href="{% url 'toys_delete' toy.id %}">Delete</a>
    </div>
  </a>
</div>

{% endblock %}
