{% extends 'base.html' %} {% block content %}
<div >
  <h1>Home</h1>
    <hr />
      <div class="row">
      <div class="col s7 push-s5">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi amet, perferendis saepe culpa unde dolore excepturi! Vero quo molestias mollitia deserunt sunt incidunt, quam recusandae cupiditate voluptatum! Ex, optio delectus.
      </div>
      <div class="col s5 pull-s7">
                    <img src="https://images.pexels.com/photos/5088008/pexels-photo-5088008.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" style="width: 450px;">

      </div>
    </div>

      <div class="row">
      <div class="col s7 push-s5">
                              <img src="https://images.pexels.com/photos/373465/pexels-photo-373465.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" style="width: 450px;">

      </div>
      <div class="col s5 pull-s7">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi amet, perferendis saepe culpa unde dolore excepturi! Vero quo molestias mollitia deserunt sunt incidunt, quam recusandae cupiditate voluptatum! Ex, optio delectus.

      </div>
    </div>

         <div class="row">
      <div class="col s7 push-s5">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi amet, perferendis saepe culpa unde dolore excepturi! Vero quo molestias mollitia deserunt sunt incidunt, quam recusandae cupiditate voluptatum! Ex, optio delectus.
      </div>
      <div class="col s5 pull-s7">
                    <img src="https://images.pexels.com/photos/261909/pexels-photo-261909.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" style="width: 450px;">

      </div>
    </div>
</div>
  

{% endblock %}