{% extends 'base.html' %} {% block content %}

<h1>Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ card.name }}</span>
        <p>Topic: {{ card.topic }}</p>
        <p>Description: {{ card.description }}</p>

        <p>Hours: {{ card.hours }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'cards_update' card.id %}">Edit</a>
        <a href="{% url 'cards_delete' card.id %}">Delete</a>
      </div>
      <br />
    </div>
    <!-- photos uploaded -->

    <form action="{% url 'add_feeding' card.id %}" method="post">
      {% csrf_token %} {{ feeding_form.as_p }}
      <input
        type="submit"
        class="btn"
        value="Add Session"
        style="background-color: rgb(58, 173, 54)"
      />
    </form>
  </div>
  <div class="col s6">
    <!--  -->

    <br />

    <!--  -->

    <table class="striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>Focus Level</th>
        </tr>
      </thead>
      <tbody>
        {% for feeding in card.feeding_set.all %}
        <tr>
          <td>{{feeding.date}}</td>
          <td>{{feeding.time}}</td>
          <td>{{feeding.get_focus_display}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<hr />
<div class="row">
  <div class="col s6">
    <h3>Resources for this Topic</h3>
    {% if card.toys.count %} {% for toy in card.toys.all %}
    <div class="card truncate">
      <div class="card-content">
        <span class="card-title">
          Description: {{ toy.description }}
          <br />
          Link:
          <br />
          {{ toy.link }}</span
        >
      </div>
      <div class="card-action">
        <form
          action="{% url 'assoc_toy_delete' card.id toy.id %}"
          method="post"
        >
          {% csrf_token %}
          <button
            type="submit"
            class="btn"
            style="background-color: rgb(240, 144, 80)"
          >
            Remove
          </button>
        </form>
      </div>
    </div>
    {% endfor %} {% else %}
    <h5>Nothing Mastered Yet!</h5>
    {% endif %}
  </div>
  <div class="col s6">
    <h3>List of Resources</h3>
    {% if toys.count %} {% for toy in toys.all %}
    <div class="card truncate">
      <div class="card-content">
        <span class="card-title">
          Description: {{ toy.description }}
          <br />
          Link: {{ toy.link }}
        </span>
      </div>
      <div class="card-action">
        <form action="{% url 'assoc_toy' card.id toy.id %}" method="post">
          {% csrf_token %}
          <button
            type="submit"
            class="btn"
            style="background-color: rgb(58, 173, 54)"
          >
            Add
          </button>
        </form>
      </div>
    </div>
    {% endfor %} {% else %}
    <h5>No more topics to learn</h5>
    {% endif %}
  </div>

  <script>
    var dateEl = document.getElementById("id_date");
    M.Datepicker.init(dateEl, {
      format: "yyyy-mm-dd",
      defaultDate: new Date(),
      setDefaultDate: true,
      autoClose: true,
    });

    var selectEl = document.getElementById("id_focus");
    M.FormSelect.init(selectEl);
    // add time
    //   var timeeEl = document.getElementById("id_time");
    // M.Timepicker.init(timeeEl, {
    //   defaultTime: 'now',
    // });
  </script>
  {% endblock %}
</div>
